* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #1f2937;
  --main-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --blue: #3382f6;
  --secondary-header: #1f2937;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: var(--background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 24px;
}
.nav-list {
  display: flex;
  gap: 10px;
}

.nav-list a {
  color: var(--secondary-text);
  font-size: 18px;
}

.nav-list a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  color: var(--main-text);
  font-weight: 900;
}

.hero {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
  gap: 20px;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  gap: 10px;
}

.hero-content h1 {
  font-size: 48px;
  color: var(--main-text);
}

.hero-content p {
  font-size: 18px;
  color: var(--secondary-text);
}

.hero-content button {
  padding: 12px 24px;
  background-color: var(--blue);
  color: var(--secondary-text);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-right: auto;
}

.hero-image {
  max-width: 500px;
  border-radius: 5%;
}

/* Features section */
.features {
  padding-block: 48px;
  max-width: 1200px;
  margin-inline: auto;
}

.features h2 {
  text-align: center;
  font-size: 36px;
  color: var(--secondary-header);
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-block: 48px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.card div {
  text-align: center;
}
